:root {
  /** colour theme **

  Note: 
    - The colours below are just placeholders, see app/constants.js for the actual colours
    - The colours are based off Android's Material colour theme:
       https://m2.material.io/develop/android/theming/color
       https://m2.material.io/design/color/the-color-system.html

  *******************/
  --fontColour: #333333;
  --background: #ffffff;
  --surface: #ffffff;
  --secondarySurface: #fbfcf8;
  --error: #ff0000;
  --onBackground: #000000;
  --onSurface: #000000;
  --onSecondarySurface: #000000;
  --onError: #ffffff;
  --primary: #26374a;
  --primaryVariant: #3B4B5C;
  --onPrimary: #ffffff;
  --primaryBorderColour: #7D828B;
  --primaryHover: #444444;
  --onPrimaryHover: #ffffff;
  --secondary: #335075;
  --onSecondary: #ffffff;
  --secondaryHover: #753350;
  --onSecondaryHover: #f2f2f2;
  --secondaryBorderColour: #bbbfc5;
  --tertiary: #d7faff;
  --tertiaryBorderColour: #269abc;
  --onTertiary: #333333;
  --link: #284162;
  --headerTitleColor: #000000;
  
  --detected: #C5705D;
  --notDetected: #41B3A2;
  --notTested: #cc9900;
  --unknown: #cccccc;

  --smBorderRadius: 5px;
  --borderRadius: 10px;

  --fastTransition: all 0.25s ease-in-out;
  --medTransition: all 0.5s ease-in-out;
  --slowTransition: all 0.75s ease-in-out;
  --defaultTransition: var(--medTransition);

  /* ----- Header ----- */
  --headerTitleWidth: 3px;
  --navBarBorderWidth: 1px;
  --headerNavItemHorPadding: 20px;
  --headerNavItemVertPadding: 15px;

  /* ----- Footer ----- */
  --footerLandscapeMinHeight: 200px;
  --footerLogoMinHeight: 100px;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--background);
  color: var(--fontColour);
}


/* For small phone screeens */
@media screen and (max-width: 600px) {
  body { 
      font-size: calc(0.65em + 1vw) !important; 
  }

  main {
      font-size: calc(0.65em + 1vw) !important;
  }
  
  h1 {
      font-size: calc(1.7em + 1vw) !important; 
  }

  h2 {
      font-size: calc(1.3em + 1vw) !important; 
  }
  
  h3 {
      font-size: calc(1em + 1vw) !important; 
  }

  .btn {
      font-size: calc(0.7em + 1vw) !important;
  }
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
 *
 * Custom CSS 
 *
 */

b,
.bold {
  font-weight: bold;
}

.big {
  font-size: 1.5rem;
}

.small {
  font-size: 0.7rem;
}

.red {
  color: #e74c3c;
}

button {
  align-self: start;
  padding: 0.6rem;
  border: none;
  border-radius: 0.2rem;
  transition: background-color 0.2s ease-out;
}

button:hover {
  background-color: #ccd1d1;
  cursor: pointer;
}

.border {
  border-right: 0.13rem dotted #ccd1d1;
}

.hidden {
  display: none !important;
}

.dropdown-container {
  padding: 0.6rem;
  border-radius: 0.2rem;
  border: 0.08rem solid #ccd1d1;
  .dropdown-button {
    background-color: white;
    padding: 0;
  }
  .dropdown-content-container {
    margin-top: 1rem;
  }
}


/* 

Header

*/

#title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  #title {
    font-size: 1.7em;
    color: var(--headerTitleColor);
  }
}

#information-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/*

Graph Selects

*/

#graph-selects-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  .graph-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 12rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 0.18rem solid rgba(0, 0, 0, 0);
    transition: var(--medTransition);
    img {
      object-fit: contain;
      width: 100%;
      height: 6rem;
      filter: grayscale(1);
      opacity: 0.4;
      transition: var(--medTransition);
    }
    figcaption {
      font-weight: bold;
      text-align: center;
    }
  }
  .graph-select:hover {
    box-shadow: rgba(0, 0, 0, 0.26) 0px 1px 4px;
    cursor: pointer;
  }
  .active-graph-select {
    border: 0.18rem solid var(--primary);
  }

  .active-graph-select img {
    filter: none;
    opacity: 0.8;
  }
}

/*

Filters

*/

.filters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
  border-radius: var(--borderRadius);
  background-color: var(--secondarySurface);

  .filter {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 8.5rem;

    select,
    input {
      border: 0.1rem solid #ccd1d1;
      border-radius: 0.2rem;
      min-height: 1.6rem;
    }

    select:invalid {
      color: #8e8e8e;
    }

    input {
      min-height: 1.35rem;
    }

    select:hover,
    input:hover {
      cursor: pointer;
    }
  }
  #sandbox-open-button {
    margin-top: 1rem;
  }

  .filter-additional {
    display: none;
  }

  .filter-additional-active {
    display: flex;
  }
}

/*

Sandbox

*/

#sandbox-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(50rem, 70%);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--surface);
  border-radius: var(--borderRadius);
  border: 2px solid var(--primary);
  padding: 3rem;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

  #sandbox-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sandbox-button {
    padding: 0.3rem 0.5rem;
    background-color: #ffffff;
    border: 0.1rem solid #ccd1d1;
    /* align-self: flex-end; */
  }

  .sandbox-button:hover {
    background-color: #ccd1d1;
  }

  #sandbox-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    .sandbox-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-width: 10.5rem;
    }
  }

  #overrides-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 20rem;
    .override-item-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

/*

Graph

*/

#save-graph-container {
  padding: 2rem;
  #graph-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    #graph-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      #graph-title {
        text-align: center;
      }
    }
    #legend-container {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 2.5rem 2rem;
      gap: 1rem;
      .legend-section {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        .legend-content {
          display: flex;
          flex-direction: column;
          .legend-item {
            display: flex;
            flex-direction: row;
            gap: 0.3rem;
            position: relative;
          }
          .legend-item-color {
            position: absolute;
            width: 1rem;
            height: 1rem;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }
          .legend-item-text {
            margin-left: 1.5rem;
          }
        }
      }
    }
  }
}

.graph-axis-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.graph-x-axis-text {
  font-size: 1.3rem;
}

.graph-y-axis-text {
  font-size: 1.3rem;
}

/*

Data Table

*/

#data-container {
  #data-table-title {
  }
  #data-table-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    #data-table-button-container {
      display: flex;
      flex-direction: row;
      gap: 0.3rem;
    }
    #data-table {
      max-height: 35rem;
      width: 100%;
      overflow: auto;
      table {
        min-width: 120rem;
        border-collapse: separate;
      }
      th {
        position: sticky;
        top: 0;
        background: #ffffff;
      }
      .data-table-header {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
      }
      .data-table-header-arrows {
        .data-table-header-arrows-inactive {
          color: #ccd1d1;
        }
        > * {
          display: flex;
          cursor: pointer;
        }
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    }
  }
}

/*

About Table

*/

#about-container {
  #about-title {
  }
  #about-table-container {
    max-height: 35rem;
    overflow: auto;
    table {
      border-collapse: separate;
    }
    th,
    td {
      min-width: 15rem;
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}

/* ################ GENERAL STYLES ########################## */

/* URL Links in the site*/
.link {
  color: var(--link);
}

/* =========== Buttons ================================ */

.btn-primary {
  --bs-btn-color: var(--onPrimary);
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primaryBorderColour);
  --bs-btn-hover-color: var(--primaryHover);
  --bs-btn-hover-bg: var(--onPrimaryHover);
  --bs-btn-hover-border-color: var(--primaryBorderColour);
  --bs-btn-active-color: var(--onPrimaryHover);
  --bs-btn-active-bg: var(--primaryHover);
  --bs-btn-active-border-color: var(--primaryBorderColour);
  --bs-btn-disabled-color: var(--onPrimary);
  --bs-btn-disabled-bg: var(--primary);
  --bs-btn-disabled-border-color: var(--primaryBorderColour);
  transition: var(--defaultTransition);
}

.btn-secondary {
  --bs-btn-color: var(--onSecondary);
  --bs-btn-bg: var(--secondary);
  --bs-btn-border-color: var(--secondaryBorderColour);
  --bs-btn-hover-color: var(--secondaryHover);
  --bs-btn-hover-bg: var(--onSecondaryHover);
  --bs-btn-hover-border-color: var(--secondaryBorderColour);
  --bs-btn-active-color: var(--onSecondaryHover);
  --bs-btn-active-bg: var(--secondaryHover);
  --bs-btn-active-border-color: var(--secondaryBorderColour);
  --bs-btn-disabled-color: var(--onSecondary);
  --bs-btn-disabled-bg: var(--secondary);
  --bs-btn-disabled-border-color: var(--secondaryBorderColour);
  transition: var(--defaultTransition);
}

.btn-danger {
  --bs-btn-color: var(--onPrimary);
  --bs-btn-bg: var(--error);
  --bs-btn-border-color: var(--primaryBorderColour);
  --bs-btn-hover-color: var(--error);
  --bs-btn-hover-bg: var(--onPrimaryHover);
  --bs-btn-hover-border-color: var(--primaryBorderColour);
  --bs-btn-active-color: var(--error);
  --bs-btn-active-bg: var(--primaryHover);
  --bs-btn-active-border-color: var(--primaryBorderColour);
  --bs-btn-disabled-color: var(--onPrimary);
  --bs-btn-disabled-bg: var(--error);
  --bs-btn-disabled-border-color: var(--primaryBorderColour);
  transition: var(--defaultTransition);
}

/* ==================================================== */
/* =========== SVG Icons ============================== */

.svgOnPrimaryIconPath {
  fill: var(--onPrimary);
}

.svgOnErrorIconPath {
  fill: var(--onPrimary);
}

.svgPrimaryIconPath {
  fill: var(--primary);
}

.btn:hover .svgOnPrimaryIconPath {
  fill: var(--primaryHover);
}

.btn:hover .svgOnErrorIconPath {
  fill: var(--error);
}

/* ==================================================== */
/* =========== Dropdowns on the app ================== */

.dropdown-menu {
  background-color: var(--background);
  color: var(--onPrimary);
  border-color: var(--primaryBorderColour);
}

.dropdown-item {
  color: var(--fontColour);
}

.dropdown-item.active {
  background-color: var(--primary);
}

.dropdown-item:focus, .dropdown-item:active {
  background-color: var(--primaryHover);
}

.dropdown-item:hover {
  background-color: var(--primaryHover);
  color: var(--onPrimary);
}

/* =================================================== */
/* =========== Collapsibles/Accordions================= */
.accordion {
  --bs-accordion-color: var(--fontColour);
  --bs-accordion-bg: var(--secondarySurface);
  --bs-accordion-btn-color: var(--secondary);
  --bs-accordion-btn-bg: var(--surface);
  --bs-accordion-active-color: var(--secondary);
  --bs-accordion-border-color: var(--secondaryBorderColour);
  --bs-accordion-active-bg: var(--surface);
  --bs-accordion-btn-icon: none;
  --bs-accordion-btn-active-icon: none;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button {
  transition: var(--defaultTransition);
}

.accordion-button:hover {
  color: var(--secondaryHover);
  text-decoration: underline;
  font-weight: bold;
}

.accordionIcon {
  margin-right: 15px;
  transition: var(--fastTransition);
}

.accordion-button:not(.collapsed):focus {
  border-bottom: 1px var(--secondaryBorderColour) solid;
}

.accordion-button:not(.collapsed) .accordionIcon {
  transform: rotate(-180deg);
}

/* =================================================== */
/* ======== Tooltip ================================== */

.infoIcon {
  margin-left: 10px;
}

.tooltip.show {
  --bs-tooltip-opacity: 1;
}

.tooltip-inner {
  z-index: 1;
  background: var(--tertiary);
  border-color: var(--tertiaryBorderColour);
  border-width: 1px 1px 1px 5px;
  border-style: solid;
  color: var(--onTertiary);
  text-align: left;
}

.tooltip-arrow {
  display: none !important;
}

.infoIcon-enabled {
  cursor: pointer;
  color: #269abc;
  transition: color 0.5s;
  transition-timing-function: ease-in-out;
}

.infoIcon-disabled {
  cursor: default;
  color: inherit;
  transition: color 0.5s;
  transition-timing-function: ease-in-out;
}


/* =================================================== */
/* ======== Pagination =============================== */

.pagination {
  --bs-pagination-color: var(--primary);
  --bs-pagination-bg: var(--onPrimary);
  --bs-pagination-border-color: var(--primaryBorderColour);
  --bs-pagination-hover-color: var(--onPrimaryHover);
  --bs-pagination-hover-bg: var(--primary);
  --bs-pagination-hover-border-color: var(--onPrimaryHover);
  --bs-pagination-active-bg: var(--primaryHover);
  --bs-pagination-active-color: var(--onPrimaryHover);
  --bs-pagination-active-border-color: var(--onPrimaryHover);
  --bs-pagination-focus-color: var(--primaryHover);
  --bs-pagination-focus-bg: var(--onPrimaryHover);
  --bs-pagination-disabled-bg: var(--secondaryBg);
  --bs-pagination-disabled-border-color: var(--secondaryBorderColour);
  --bs-pagination-disabled-color: var(--secondary);
}

/* =================================================== */
/* ======== Datatables =============================== */

.tableContainer {
  background-color: var(--surface);
  padding: 10px;
  border-radius: var(--smBorderRadius);
}

.tableContainer .dataTable, .tableContainer .dt-scroll-headInner {
  width: 100% !important;
}

/* ----- sort icons ----- */

/* Previously displayed two separate icons, hide first one */
.dt-column-order {
  top: 0.18em !important;
  font-family: 'Font Awesome 6 Free' !important;
  font-size: 1.3em !important;
}

.dt-column-order:before, .dt-column-order:after {
  content: "" !important;
}


/* font-family and font-weight needed for Font Awesome icons to display by CSS */
.dt-column-order::before {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Only display in after */
.dt-orderable-asc .dt-column-order::before
{
  /*right:    0 !important;*/
  content: "\f0dc" !important;
  color: var(--onPrimary) !important;
  opacity: 1 !important;
  top: unset !important;
  bottom: 0.3em !important;
  line-height: unset !important;
  padding-left: 5px;
}

/* sort ascending */
.dt-ordering-asc span.dt-column-order::before {
  content: "\f161" !important;
  color: var(--onPrimary) !important;
  opacity: 1 !important;
  top: unset !important;
  bottom: 0.3em !important;
  line-height: unset !important; /* DataTable 1.12 set to 9px */
  padding-left: inherit;
}

/* sort descending */
.dt-ordering-desc span.dt-column-order::before {
  content: "\f160" !important;
  color: var(--onPrimary) !important;
  opacity: 1 !important;
  top: unset !important;
  bottom: 0.3em !important;
  line-height: unset !important; /* DataTable 1.12 set to 9px */
  padding-left: inherit;
}

/* ---------------------- */

.dataTable th {
  background-color: var(--primary) !important;
  color: var(--onPrimary);
  text-align: center !important;
}


.dataTable th:first-child {
  border-radius: var(--smBorderRadius) 0 0 0;
}

.dataTable th:last-child {
  border-radius: 0 var(--smBorderRadius) 0 0;
}

.dataTable td {
  color: var(--fontColour);
  text-align: center !important;
}

.dataTable tr:nth-child(even) td {
  background-color: var(--secondarySurface) !important;
  opacity: 0.95;
}

.dataTable tr:nth-child(odd) td {
  background-color: var(--surface) !important;
  opacity: 0.95;
  box-shadow: none !important;
}

/* =================================================== */


/* ########################################################## */
/* ################### HEADER ############################### */

.headerTitleSection {
  background-color: var(--background);
  border-bottom: var(--headerTitleWidth) solid var(--primary);
  padding: 15px 0 20px 0;
}

.headerOption {
  float: right;
}

.headerTitle {
  text-decoration: none;
  color: var(--headerTitleColor);
}

.navBarContainer {
  margin-top: calc(-1 * var(--headerTitleWidth) + 0.5px);
}

.navBarContainer .navbar {
  background-color: var(--primary);
  padding-top: 29px;
  padding-bottom: 29px;
  border-radius: 0 0 var(--smBorderRadius) var(--smBorderRadius);
  border-bottom: var(--navBarBorderWidth) solid var(--primary);
  border-left: var(--navBarBorderWidth) solid var(--primary);
  border-right: var(--navBarBorderWidth) solid var(--primary);
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* ===== Menu options on the navigation bar ===== */

.navbar-nav {
  --bs-nav-link-color: var(--onPrimary);
  --bs-nav-link-hover-color: var(--primaryHover);
}

.navBarContainer .nav-link {
  padding: 1px !important;
  --bs-link-color-rgb: var(--primary);
  transition: var(--defaultTransition);
}

.navBarContainer .nav-link.active {
  background-color: var(--primaryHover) !important;
  color: var(--onPrimary) !important;
  border-radius: 0 0 var(--smBorderRadius) var(--smBorderRadius);
}

.navBarContainer .nav-link div {
  padding-top: var(--headerNavItemVertPadding);
  padding-bottom: var(--headerNavItemVertPadding);
  padding-left: var(--headerNavItemHorPadding) !important;
  padding-right: var(--headerNavItemHorPadding) !important;
  border: 1px solid var(--primary);
  border-radius: var(--smBorderRadius);
}

.navBarContainer .nav-link.active div {
  border-color: var(--primaryHover);
}

/* hovering on the navigation bar option */
.navBarContainer .nav-link:hover,  .navBarContainer .nav-link.active:hover {
  background-color: var(--onPrimary) !important;
  border-radius: 0 0 var(--smBorderRadius) var(--smBorderRadius);
  border-top: 1px solid var(--onPrimary);
}

.navBarContainer .nav-link div, .navBarContainer .nav-link.active div {
  transition: var(--defaultTransition);
}

.navBarContainer .nav-link:hover div, .navBarContainer .nav-link.active:hover div {
  border-color: var(--onPrimary);
  color: var(--primaryHover);
}

/* clicking on the navigation bar option */
.navBarContainer .nav-link:active div {
  border-color: var(--primary);
}

/* ============================================== */
/* ===== Menu icon for mobile phones ============ */

.navBarContainer .navbar-toggler {
  padding-top: var(--headerNavItemVertPadding);
  padding-bottom: var(--headerNavItemVertPadding);
  padding-left: var(--headerNavItemHorPadding) !important;
  padding-right: var(--headerNavItemHorPadding) !important;
  border-color: var(--primary);
}

/* the 3 lines on the icon */
.mobileMenuLine {
  height: 3px;
  width: 30px;
  margin: 4px;
  border-radius: var(--smBorderRadius);
  background-color: var(--onPrimary);
}

/* hovering over the icon */
.navBarContainer .navbar-toggler:hover, .themeDropdown:hover {
  background-color: var(--onPrimary) !important;
  color: var(--primaryHover);
  transition: all 0.5s ease-out;
}

/* pressing on the icon button */
.navBarContainer .navbar-toggler:hover .mobileMenuLine {
  background-color: var(--primaryHover);
  transition: var(--defaultTransition);
}

.navBarContainer .navbar-toggler:focus {
  box-shadow: none;
}

/* ============================================== */
/* ===== Theme Dropdown Selection =============== */

.navBarContainer .dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

/* icon for the theme dropdown */
#themeIcon {
  max-width: 35px; 
  height: auto;
}

#themeIconPath {
  fill: var(--onPrimary);
}

/* hovering over the theme icon */
.themeDropdown:hover #themeIconPath {
  fill: var(--primaryHover);
}

/* theme dropdown */
.themeDropdown {
  background-color: var(--primary);
  color: var(--surface);
  border: none;
  padding: 11px var(--headerNavItemHorPadding);
  border-radius: 0 0 var(--smBorderRadius) var(--smBorderRadius);
}

/* ============================================== */

/* ########################################################## */
/* ################### FOOTER ############################### */

.footerContainer {
  min-height: calc(var(--footerLandscapeMinHeight) + var(--footerLogoMinHeight));
}

/* ===== Footer navigation bar ===== */

.footerLandscapeContainer {
  position: relative;
}

.footerLandscapeFiller, .footerLandscape, .footerLandscapeFilter {
  min-height: var(--footerLandscapeMinHeight);
  width: 100%;
}

.footerLandscape, .footerLandscapeFilter {
  position: absolute;
}

.footerLandscape {
  background: white url("./img/landscape.png") no-repeat right bottom;
  z-index: 0;
}

.footerLandscapeFilter {
  z-index: 1;
  background: var(--primary);
  opacity: 0.9;
}

/* ================================= */
/* ===== Footer Logo =============== */

.footerLogoContainer {
  min-height: var(--footerLogoMinHeight);
}

.footerLogo {
  height: 40px;
  width: auto;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}

.footerUrlLinks {
  padding: 2em 0;
}

/* text on the logo */
.fip_text {
  fill: var(--fontColour);
}

/* the flag on the logo */
.fip_flag {
  fill: #ff0000;
}

/* ================================= */

/* ########################################################## */
/* ################### Main Pages ########################### */

#mainPage {
  min-height: 70vh;
  position: relative;
}

#about-table-container thead {
  display: none !important;
}

#subtitle {
  font-size: 20px;
  font-weight: normal;
}

#filters-title, #graph-select-title {
  font-size: 18px;
}

#graph-title-container {
  display: flex;
}

/* ########################################################## */
/* ################### Loading Screen ####################### */

.loadingContainer {
  min-height: 60vh;
}

.loadingCircle {
  background-color: var(--primary);
}

.loadingCircleSecondary {
  background-color: var(--secondary);
}

.loadCircleRight {
  transform: translateX(100%);
}

.loadCircleLeft {
  transform: translateX(-100%);
}

.loadCircleSlow {
  --bs-spinner-animation-speed: 1s;
}

.loadCircleMed {
  --bs-spinner-animation-speed: 0.75s;
}


/* ########################################################## */
